<body>
  <div class="col-4"  *ngFor="let  comp of company"> 
	<div class="card">
		<div>
			<div class="column">
		  	 <span style="font-weight:bold; font-size: 30px	">{{comp.companyName}}  </span>
		  	 <h3>{{comp.symbol}} {{comp.userName}}</h3>
			</div>
			<div class="column">
			  <span>{{comp.previousClose_change}}</span>
        <h3 style="color: #5BC446">{{comp.change}}   {{comp.changePercent}}</h3>
			</div>
			<div class="column">
				<button  class="button" (click)="deleteData(comp)" ><span>Delete</span></button>
			  </div>
		</div>
		
		<div>
			<span style="color: #BBB5B3">_______________________________________________________________________________________________________________________________________________________________________</span>
		</div>
		<div>
			<div class="column1">
				<span>MarketCapValue</span>
			    <h3>{{comp.marketCap}}</h3>
      </div>
      <div class="column1">
          <span>Sector</span>
            <h3>{{comp.sector}}</h3>
        </div>
        <div class="column1">
            <span>Primary Exchange</span>
              <h3>{{comp.primaryExchange}}</h3>
          </div>
			<div class="column1">
				<span>Open</span>
			    <h3>{{comp.open}}</h3>
			</div>
			<div class="column1">
				<span>High</span>
			    <h3>{{comp.high}}</h3>
			</div>
			<div class="column1">
				<span>Low</span>
			    <h3>{{comp.low}}</h3>
			</div>
		</div>	
		<div>
			<div class="column1">
				<span>Close</span>
			    <h3>{{comp.close}}</h3>
      </div>
      <div class="column1">
          <span>Volume</span>
            <h3>{{comp.latestVolume}}</h3>
        </div>
        <div class="column1">
            <span>LatestTime</span>
              <h3>{{comp.latestTime}}</h3>
          </div>
			<div class="column1">
				<span>Previous Close</span>
			    <h3>{{comp.previousClose}}</h3>
			</div>
			<div class="column1">
				<span>week52Low</span>
			    <h3>{{comp.week52Low}}</h3>
			</div>
			<div class="column1">
				<span>week52High</span>
			    <h3>{{comp.week52High}}</h3>
			</div>
		</div>	
		<div>
			<span style="color:#BBB5B3 ">_________________________________________________________________________________________________________________________________________________________________________________________________________</span>
		</div>
	</div>
</div>
<br>
<div class="description ">
		<button  (click)="onClick()"   >Logout</button>
		</div>
		
	
</body>
