<style>
	table {
  border:1px solid #2E86C1;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout:auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color:  #C1E1F5  ;
}
tr:nth-child(odd) {
  background-color:  #EDF4F9
 ;
}

thead{
text-align:center;
}
button{
cursor: pointer;
padding: 15px 40px;
display: inline-block;
text-align:center;
background-color:#099AF7;

 color: white;
}
.len
{
	width: 70%;
	margin-left: 15%;
}
.img
{

	height:40em; background-size:cover; width:auto;
     background:url('C:\Users\Bobde\Desktop\Assignment\Angular\src\assets\stock3.jpg');
     background-position:50% 50%;


  
}

</style>

<div class="bg">
	<br><br> <br><br><br>
<table class="len">
	<tr>
		<th>Symbol</th>
		<th>Marketcap</th>
		<th>Current Price</th>
		 <th>Quantity</th>
		 <!-- <th></th> -->
	</tr>
	<tr *ngFor="let  comp of company">
	  <td>{{ comp.symbol }}</td>
	  <td>{{ comp.MarketCap}}</td>
	  <td>{{comp.CurrentPrice}}</td>
	  <td>{{comp.quantity}}</td>
	  <!-- <td><button type="button"  >Save Stocks</button>  </td> -->
	
	</tr>
  </table>
</div>


