.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-style: outset;
    border-color: #C8CDC7  ;
    border-width: 2px;
    
    padding: 20px;
    margin-left: 10px;
    transition: 0.3s;
    width: 1400px;
    height: 50%;
  }
  
  .card:hover {
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.2);
    background-color: rgb(134, 138, 133) ;
  }
  
  .column {
    float: left;
    width: 33.33%;
    height: 40;
    padding-top: 10px;
  }
  .column1 {
    float: left;
    width: 14%;
    height: 50;
    padding-top: 10px;
    margin-right: 20px;
  }
  .button {
    border-radius: 10px;
    background-color: #45AAEC;
    border: none;
    color: white;
    padding: 12px 20px;
    width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px 0;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  span{
      padding-top: 50px; 
      font-size:25px;
  }
  h3{
      color: #BBB5B3;  
      margin-top: 0px;
  }
  .body
  {
    background-color: #C8CDC7  ;
  }
 