
  <style>
	table {
  border:1px solid #2E86C1;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
 
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color:  #C1E1F5  ;
}
tr:nth-child(odd) {
  background-color:  #EDF4F9
 ;
}
thead{
text-align:center;
}
button{
cursor: pointer;
padding: 10px 20px;
display: inline-block;
text-align:center;
background-color:#099AF7;

 color: white;
}
.len
{
	width: 70%;
	margin-left: 15%;
}
.cont
{
	background-image: url('C:\Users\Bobde\Desktop\Assignment\Angular\src\assets\stock2.jpg');
  
  /* Full height */
  height: 710px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
</style>
<div class="bg">
<div class="len" >
	<br><br><br><br><br>
<table>
	<tr>
		<th>Symbol</th>
		<th>One Year Target</th>
		<th>52 Week Change</th>
		<th>Ask</th>
		<th>Average Volume</th>
		<th>Current Price</th>
		<th>Earning per sales</th>
		<th>Volume</th>
		<th>Marketcap</th>
		 <th>Open</th>
		 <th>Previous Close</th>
		 <th>PE ratio</th>
		 <th></th>
	</tr>
	<tr *ngFor="let  comp of company">
		<td>{{ comp.symbol }}</td>
		<td>{{comp.oneytarget}}</td>
		<td>{{comp.Week52Range}}</td>
		<td>{{comp.Ask}}</td>
		<td>{{comp.AvgVolume}}</td>
		<td>{{comp.CurrentPrice}}</td>
		<td>{{comp.EPS}}</td>
		<td>{{comp.Volume}}</td>
		<td>{{ comp.MarketCap}}</td>
		<td>{{comp.Open}}</td>
		<td>{{comp.PreviousClose}}</td>
		<td>{{comp.PERatio}}</td>
		<td><button type="button" (click)="savedata(comp)" >Save Stocks</button>  </td>
		
	
	</tr>
  </table>
</div>
</div>