.division{
    background-color: #060112    ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-style: outset;
    border-color: #C8CDC7  ;
    border-width: 2px;
    padding: 20px;
    margin-left: 30%;
    margin-top: 0%;
    width: 450px;
    height:400px;
  }
  body{
    /* background: url('https://i.pinimg.com/originals/49/ff/c0/49ffc0d888425fd5543b4132efc74b16.jpg'); */
   background-repeat: no-repeat;
   background-size: 100%;
   height: 200%;
   width: 100%;
   background-position: center;
   
    
  }
  h1
  {
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 35px;
    left:10%;
    text-align: center;
  }
  h2{
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 25px;
    left:10%;
    text-align: center;
  }
  button {
    margin:auto;
    display:block;
    margin-top: 100px;
    padding:15px 20px;
    background-color: #060112  ; 
    color: white   ; 
    border: 2px solid #f44336;
  }
  
  button:hover {
    background-color: #f44336;
    color: white;
  }
  .bg {
    /* The image used */
    background-image: url('C:\Users\Bobde\Desktop\Assignment\Angular\src\assets\stock11.jpg');
  
    /* Full height */
    
     height: 690px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }